:root {
    --color1: #F75A56;
    --color2: #F2F2F2;
    --color3: #161616;
    --color4: #999999;

    --font-family: "Poppins", sans-serif;
}

body {
}

header {
    background: none;
}

#header--img {
    display: flex;
    justify-content: center;
    align-items: last baseline;
    width: 100%;
    height: 100%;
}

#header--img div {
    display: flex;
    min-width: 85%;
    height: 100%;
    justify-content: center;
    align-items: end;
}

#header--img div img {
    width: 100%;
    height: 80%;
    object-fit: cover; /* Evita distorção da imagem */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main--text {
    width: 70%;
    height: 100%;
}   

#main--text div {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

#main--text h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: var(--color3);
}

#main--text p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #999999;
}