@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-family: "Inter", sans-serif;

  --color1: #d7a166; /* PrincipalColor – um tom quente e suave de laranja */
  --color2: #ffffff; /* Branco puro – ideal para contrastes */
  --color3: #333333; /* Cinza escuro – ótimo para textos ou fundos */
  --color4: #1f1f1f; /* Cinza mais escuro – quase preto, forte e elegante */
  --color5: #141414; /* OffBlack – preto com um toque suave, moderno */
}

header {
  height: 100vh;
  gap: 40px;
}

#header--title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 40px;
}

#header--text {
  width: 65%;
  max-width: 75%;
}

#header--text p {
  font-size: 22px;
  text-align: center;
}

#whatsApp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 5px;
  width: 50%;
  max-width: 500px;
  height: 70px;
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: rgb(125, 238, 125);
  box-shadow: rgb(125, 238, 125) 0px 7px 29px 0px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

#whatsApp p {
  font-weight: bold;
  color: var(--color2);
}

#whatsApp i {
  font-size: 30px;
  color: var(--color2);
}

#whatsApp:hover {
  letter-spacing: 3px;
  background-color: var(--color3);
  box-shadow: var(--color5) 0px 7px 19px 0px;
}

@media (max-width: 768px) {

  #header--text {
    width: 80%;
    max-width: 90%;
  }

  #whatsApp {
    width: 75%;
    max-width: 600px;
    text-align: center;
  }
  
}
